@import "../../../css/sass/mixin";
@import "../../../css/sass/normalize";
@import "../../../css/sass/reset";
@import "../../../css/sass/swiper";
@import "../../../css/sass/entity";
@import "../../../entity/join/css/cropper";

.preview-container {
    @include transform-origin(50% 0%);
    @include transition(.5s);

    &.smaller {
        @include transform(scale(1 - size-v(376px) / 100%));
    }
}

%footer-bar {
    background-color: rgba(255, 255, 255, .95);
    border-top: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0 0 3.5px rgba(0, 0, 0, .08);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.join-footer-bar {
    @extend %footer-bar;

    $footer-height: 88px;
    $icon-size: $footer-height;

    height: size($footer-height);
    z-index: 100;

    %footer-icon {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        height: size($icon-size);
        position: absolute;
        top: 0;
        width: size($icon-size);
    }

    &-list {
        @extend %footer-icon;

        background-image: url('../img/footer-card-list.png');
        background-size: 58px / $icon-size * 100% 59px / $icon-size * 100%;
        left: size-h(80px);
    }

    &-add {
        @extend %footer-icon;

        background-image: url('../img/footer-card-add.png');
        background-size: 78px / $icon-size * 100% 60px / $icon-size * 100%;
        left: size-h(243px);
    }

    &-layout {
        @extend %footer-icon;

        background-image: url('../img/footer-layout.png');
        background-size: 39px / $icon-size * 100% 62px / $icon-size * 100%;
        left: size-h(420px);
    }

    &-publish {
        @extend %footer-icon;

        background-image: url('../img/footer-publish.png');
        background-size: 39px / $icon-size * 100% 61px / $icon-size * 100%;
        left: size-h(590px);
    }
}

%footer-list {
    @extend %footer-bar;

    $icon-size: 88px;

    height: size-v(376px);
    opacity: 0;
    padding-top: size(94px);
    padding-bottom: size(22px);
    @include transform(translate3d(0, 100%, 0));
    @include transition(.5s);
    z-index: 200;

    &.in {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }

    .join-bar-title {
        color: #2a2a2a;
        font-size: size(30px);
        left: 0;
        line-height: size($icon-size);
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .join-bar-close,
    .join-bar-save,
    .join-bar-remove {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        height: size($icon-size);
        position: absolute;
        top: 0;
        width: size($icon-size);
        z-index: 200;
    }

    .join-bar-close {
        background-image: url('../img/icon-close.png');
        background-size: 34px / $icon-size * 100% 32px / $icon-size * 100%;
        left: 0;
    }

    .join-bar-save {
        background-image: url('../img/icon-save.png');
        background-size: 42px / $icon-size * 100% 28px / $icon-size * 100%;
        right: 0;
    }

    .join-bar-remove {
        background-image: url('../img/icon-remove.png');
        background-size: 34px / $icon-size * 100% 34px / $icon-size * 100%;
        right: 0;
        @include transform(translate3d(50%, -50%, 0) scale(4));
    }
}

.card-list {
    @extend %footer-list;

    .swiper-container {
        overflow: visible;
        // @include transform(scale(0.2368));
        @include transform-origin(50% 0);
    }

    .swiper-slide {
        cursor: pointer;
        position: relative;

        .wrapper {
            border: 4px solid #ccc;
        }

        &.active {
            .wrapper {
                border-color: #3ce2ba;
            }
        }
    }

    .wrapper {
        border: 1px solid #ccc;
    }
}

.layout-list {
    @extend %footer-list;

    .swiper-slide {
        cursor: pointer;
        text-align: center;

        img {
            border: 1px solid #ccc;
        }

        &.active {
            img {
                border-color: #3ce2ba;
            }
        }
    }
}

.wrapper-body {
    pointer-events: none;

    .content {
        padding: 1px;
        position: relative;
    }
}

.input-content {
    background-color: inherit;
    border: 1px dashed #a7a7a7;
    border-radius: 0;
    font-size: inherit;
    line-height: inherit;
    overflow: hidden;
    padding: 0;
    pointer-events: auto;
    width: 100%;

    &-clone {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }
}

.modal {
    background-color: #d8d8d8;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;

    .cropper-view-box {
        outline-width: 0;
    }

    .cropper-bg {
        background: #d8d8d8;
    }

    .cropper-dashed {
        border-color: #cbcbcb;
        border-style: solid;
    }

    &-footer {
        background-color: #fff;
        border-top: 1px solid #f0f0f0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: right;
        width: 100%;
        z-index: 10000;
    }

    .btn {
        background-color: transparent;
        background-image: none;
        border: 0;
        border-radius: 0;
        color: #50e3c2;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 14px;
        font-weight: 400;
        line-height: size(88px);
        margin-bottom: 0;
        text-align: center;
        @include touch-action(manipulation);
        @include user-select(none);
        vertical-align: middle;
        white-space: nowrap;
        width: 50%;
    }
}
