@import "../../../css/sass/mixin";
@import "../../../css/sass/normalize";
@import "../../../css/sass/reset";

@include keyframe(next-guide) {
    0%, 100% { @include transform(translate3d(0, -10px, 0)); }
    50% { @include transform(translate3d(0, 0, 0)); }
}

html, body, .panel, .page {
    height: 100%;
}

img {
    max-width: 100%;
    width: 100%;
}

.hide {
    display: none;
}

.wrapper {
    height: 100%;
    line-height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.swiper-container {
    @include backface-visibility(hidden);
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @include transform-style(preserve-3d);
    width: 100%;
    z-index: 1;

    & > .swiper-wrapper {
        @include box-sizing(content-box);
        height: 100%;
        @include transform(translate3d(0px, 0, 0));
        -webkit-transition-property: -webkit-transform, left, top;
        -moz-transition-property: -moz-transform, left, top;
        -ms-transition-property: -ms-transform, left, top;
        -o-transition-property: -o-transform, left, top;
        transition-property: transform, left, top;
        @include transition-duration(0s);
        @include transform-style(preserve-3d);
        @include transition-timing-function(ease);
        width: 100%;

        & > .swiper-slide {
            height: 100%;
            float: left;
            @include transform-style(preserve-3d);
            width: 100%;
        }
    }

    & > .swiper-pagination {
        bottom: 0;
        height: 35px;
        line-height: 35px;
        position: absolute;
        text-align: center;
        width: 100%;

        & > .swiper-pagination-switch {
            background-color: rgba(255, 255, 255, .2);
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            height: 8px;
            margin: 0 3px;
            width: 8px;
        }

        & > .swiper-active-switch {
            background-color: #fff;
        }
    }

    &.scroll-v {
        & > .swiper-wrapper {
            & > .swiper-slide {
                height: auto;
            }
        }
    }

    &.scroll-h {
        & > .swiper-wrapper {
            margin-left: auto;
            margin-right: auto;

            & > .swiper-slide {
                width: auto;
            }
        }
    }

    .swiper-scrollbar {
        background-color: transparent;
        border-radius: 2px;
        position: absolute;
        z-index: 9999;

        &.swiper-scrollbar-h {
            bottom: 3px;
            height: 2px;
            left: 2px;
            right: 2px;
        }

        &.swiper-scrollbar-v {
            bottom: 2px;
            right: 3px;
            top: 2px;
            width: 2px;
        }

        .swiper-scrollbar-drag {
            background-color: rgba(255, 255, 255, .5);
            border-radius: 2px;
            cursor: move;
            height: 100%;
            width: 100%;
            position: relative;
        }
    }

    /* IE10 Windows Phone 8 Fixes */
    &.swiper-wp8-horizontal {
        -ms-touch-action: pan-y;
    }
    &.swiper-wp8-vertical {
        -ms-touch-action: pan-x;
    }
}


%footer-bar {
    background-color: rgba(255, 255, 255, .95);
    border-top: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0 0 3.5px rgba(0, 0, 0, .08);
    bottom: 0;
    left: 0;
    height: size(88px);
    opacity: 1;
    position: absolute;
    @include transition(.5s);
    width: 100%;
    z-index: 100;
}

%join-bar {
    @extend %footer-bar;

    height: size-v(376px);
    opacity: 0;
    padding-top: size(80px);
    @include transform(translate3d(0, 100%, 0));
    z-index: 200;

    &.in {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }

    .join-bar-title {
        color: #2a2a2a;
        font-size: size(30px);
        left: 0;
        line-height: 1;
        position: absolute;
        text-align: center;
        top: size(32px, 376px);
        width: 100%;
    }

    .join-bar-close {
        background: transparent url('../img/icon-close.png') 0 0 no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
        left: size-h(28px);
        position: absolute;
        top: size(30px, 376px);
        @include wh(34px, 32px);
        z-index: 200;
    }

    .join-bar-save {
        background: transparent url('../img/icon-save.png') 0 0 no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
        left: size-h(676px);
        position: absolute;
        top: size(32px, 376px);
        @include wh(42px, 28px);
        z-index: 200;
    }

    .preview-list {
        overflow: hidden;
    }

    .preview-item {
        cursor: pointer;
        float: left;
        height: 100%;
        padding: size(20px) size(50px);
        position: relative;

        &.active {
            img {
                box-shadow: 0 0 0 1px #3ce2ba;
            }
        }

        img {
            box-shadow: 0 0 0 1px #ccc;
            height: 100%;
            width: auto;
        }

        &-remove {
            background: transparent url('../img/icon-remove.png') 0 0 no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            height: size(34px);
            position: absolute;
            right: size(50px - 34px / 2);
            top: size(20px - 34px / 2);
            width: size(34px);
            z-index: 300;
        }
    }
}

.page-join {
    background-color: rgba(0, 0, 0, .25);
    position: relative;

    &-content {
        height: 100%;
        @include transform-origin(50% 0%);
        @include transition(.5s);

        &.smaller {
            padding: size(10px);
            @include transform(scale(1 - size-v(376px) / 100%));
        }
    }

    .join-footer-bar {
        @extend %footer-bar;

        &-list {
            background: transparent url('../img/footer-card-list.png') 0 0 no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            left: size-h(94px);
            position: absolute;
            top: 50% - size(59px / 2, 88px);
            @include wh(58px, 59px);
        }

        &-add {
            background: transparent url('../img/footer-card-add.png') 0 0 no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            left: size-h(248px);
            position: absolute;
            top: 50% - size(60px / 2, 88px);
            @include wh(78px, 60px);
        }

        &-layout {
            background: transparent url('../img/footer-layout.png') 0 0 no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            left: size-h(444px);
            position: absolute;
            top: 50% - size(62px / 2, 88px);
            @include wh(39px, 62px);
        }

        &-publish {
            background: transparent url('../img/footer-publish.png') 0 0 no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            left: size-h(614px);
            position: absolute;
            top: 50% - size(61px / 2, 88px);
            @include wh(39px, 61px);
        }
    }

    .card-list {
        @extend %join-bar;

    }

    .layout-list {
        @extend %join-bar;
    }

    .picture {
        position: relative;

        &-mask {
            border-radius: inherit;
            cursor: pointer;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &-tip {
            bottom: 20px;
            color: #fff;
            font-size: size(28px);
            left: 0;
            pointer-events: none;
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }

    .input-content {
        border: 1px dashed #a7a7a7;
        border-radius: 0;
        font-size: size(28px);
        width: 100%;
    }
}
