
@function size($value, $parent: false) {
    @if $parent {
        $value: $value / $parent * 100%;
    }
    @else {
        $value: $value / 2;
    }
    @return $value;
}

@function size-h($value) {
    @return size($value, 750px);
}

@function size-v($value) {
    @return size($value, 1158px);
}

@function size-v-p($value, $height) {
    @return size(1008px - $value - $height, 1008px);
}

@mixin wh($width, $height, $parentWidth: false) {
    @if $parentWidth {
        padding-top: size($height, $parentWidth);
        width: size($width, $parentWidth);
    }
    @else {
        padding-top: size-h($height);
        width: size-h($width);
    }
}
