
html, body {
    height: 100%;
}

.loading {
    background-color: #a7a7a7;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    img {
        height: 64px;
        left: 50%;
        margin-left: -30px;
        margin-top: -30px;
        position: absolute;
        top: 50%;
        width: 64px;
    }
}

.panel {
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    height: 100%;
    width: 100%;
}

.swiper-slide {
    padding-bottom: size(88px);

    // .swiper-container-free-mode.swiper-container-horizontal & {
    //     width: auto;
    // }

    .swiper-container-free-mode.swiper-container-vertical & {
        height: auto;
    }
}

.picture {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    @include background-size(cover);

    &-default {
        background-position-y: 100%;
    }

    &.uploading {
        position: relative;

        .upload-mask {
            background-color: rgba(0, 0, 0, .3);
            border-radius: inherit;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        .upload-tip {
            color: #fff;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;
        }
    }
}

.disabled {
    opacity: .5;
    pointer-events: none;
}
