<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="apple-mobi e-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/module/admin/css/main.css">
</head>

<body class="container" ng-controller="AdminCtrl">

    <table class="table" ng-cloak>
        <colgroup>
            <col ng-repeat="col in columns" width="{{col.width}}" />
        </colgroup>
        <tr>
            <th ng-repeat="col in columns" ng-bind="col.title"></th>
        </tr>
        <tr ng-repeat="d in entitys">
            <td ng-bind="d.title"></td>
            <td>{{d.pv}}</td>
            <td>{{d.postLimit}}</td>
            <td>
                <input type="text" class="form-control" ng-model="d.likeCount" />
            </td>
            <td>
                <select class="form-control" ng-model="d.type" ng-options="item.key as item.text for item in types"></select>
            </td>
            <td>
                <select class="form-control" ng-model="d.status" ng-options="item.key as item.text for item in status"></select>
            </td>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="d.isSelected">精选内容
                    </label>
                </div>
            </td>
            <td>
                <button type="button" ng-click="save(d)">保存</button>
            </td>
        </tr>
    </table>

    <div class="instruction">
        <p>说明：</p>
        <p>修改“点赞数”可影响在App首页中的顺序，越高则排名越靠前</p>
        <p>修改“类型”可以控制显示在App的哪个标签下</p>
        <p>修改“状态”即审核功能</p>
        <p>修改“是否精选”可控制是否在微信公共账号的相关页面显示</p>
    </div>

    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-resource.js"></script>
    <script src="/lib/alertify.js"></script>
    <script src="/js/services.js"></script>
    <script src="/module/admin/index.js"></script>
</body>

</html>
