@import "../../../css/sass/mixin";
@import "../../../css/sass/normalize";
@import "../../../css/sass/reset";
@import "../../../css/sass/swiper";
@import "../../../css/sass/entity";

.post-footer-bar {
    $footer-height: 88px;
    $icon-size: $footer-height;

    background-color: rgba(255, 255, 255, .95);
    border-top: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0 0 3.5px rgba(0, 0, 0, .08);
    bottom: 0;
    left: 0;
    height: size($footer-height);
    opacity: 1;
    position: absolute;
    @include transition(.5s);
    width: 100%;
    z-index: 100;

    %footer-icon {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        bottom: 0;
        cursor: pointer;
        height: size($icon-size);
        position: absolute;
        top: 0;
        width: size($icon-size);
    }

    .footer-bar-back {
        @extend %footer-icon;

        background-image: url('../img/footer-back.png');
        background-size: 19px / $icon-size * 100% 34px / $icon-size * 100%;
        left: size-h(20px);
    }

    .post-card-index {
        color: #2a2a2a;
        font-size: size(24px);
        left: 0;
        line-height: size(88px);
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .post-like_count {
        cursor: pointer;
        line-height: size(88px);
        position: absolute;
        right: size(30px);
        top: 0;

        img {
            height: size(36px);
            margin-right: size(6px);
            vertical-align: middle;
            width: size(38px);
        }

        span {
            color: #2a2a2a;
            display: inline-block;
            font-size: size(24px);
            vertical-align: middle;
        }
    }
}
